h1 {
  font-size: 2rem;
  color: #333;
  text-align: left;
  margin-bottom: 1rem;
}

.button {
  width: 10%;
  display: inline;
}

th {
  width:15%;
}

#central {
  text-align: left;
}

#central button {
  margin: 0.5rem;
}

#left {
  display: flex;
  flex-direction: column;
  place-content: left;
  place-items: left;
  flex-grow: 0.05
  ;
}

